.checkout {
  width: 330px;
}

.checkout-product {
  border: 2px solid black;
  padding: 20px;

  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-direction: column;
}

.checkout-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.checkout-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.checkout-quantity-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkout-quantity-btn {
  display: flex;
  align-items: center;
}

.checkout-btn {
  cursor: pointer;
}

/*  */

.shipping-modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.shipping-btn-close {
  position: absolute;
  font-size: 20px;
  border: none;
  background-color: transparent;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.qrImage {
  height: 400px;
  width: auto;
  object-fit: contain;
}
