.shop-section {
  width: 100vw;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.shop-section-container {
  max-width: 1100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shop-section-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
}

.shop-section-description {
  margin-bottom: 30px;
}

.shop-products-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  gap: 20px;
}
